<div id="app" class="container">
	<h2>{{ title }}</h2>
	<div class="input-group">
		<input v-model="newItem" v-on:keyup.enter="addItem" placeholder="add your task" type="text" class="form-control">
		<span class="input-group-btn">
			<button v-on:click="addItem" class="btn btn-default" type="button">Add!</button>
		</span>
	</div>
	<ul>
		<li v-for="(item, index) in items" v-bind:class="{ 'removed': item.checked }">
			<div class="checkbox">
				<label>
					<input type="checkbox" v-model="item.checked"> {{index}} : {{ item.text }}
					<button v-on:click="deleteItem(index)" class="btn btn-default" type="button">Delete</button>
				</label>
			</div>
		</li>
	</ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="app.js"></script>
