<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
</head>
<body>
<div id="app" class="container">
	<h2><a href="./">{{ title }}</a></h2>
	<div>
		<p>ToDoアプリです</p>
	</div>
	<div class="input-group">
		<input v-model="newItem" v-on:keyup.enter="addItem" placeholder="add your task" type="text" class="form-control">
		<!-- 
		<span class="input-group-btn">
			<button v-on:click="addItem" class="btn btn-default" type="button">Add</button>
		</span>
                -->
	</div>
	<ul style="list-style:none;">
		<li v-for="(item, index) in items" v-bind:class="{ 'removed': item.checked }">
			<div class="checkbox">
				<input type="checkbox" v-model="item.checked"> {{index}} : {{ item.text }}
				<button v-on:click="deleteItem(index)" class="button button-clear" type="button">Delete</button>
			</div>
		</li>
	</ul>
	<button v-on:click="addItem" class="btn btn-clear" type="button">Add</button>
	<button v-on:click="deleteAll" class="btn btn-clear" type="button">Delete</button>
	<h3>Link</h3>
	<div>
		<p>
	<ul>
		<li><a href="https://yoshikiito.github.io/my-vue-sample/">Top</a></li>
		<li><a href="https://www.google.co.jp/">Google</a></li>
	</ul>
		</p>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="app.js"></script>

</body>
